.calculator{
    margin:25px;
    border:1px lightgray solid;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.kataDescription{
    margin:5px;
    padding: 10px;
}
.kataDescription > p{
    padding-left:10px;
}

.warn{
    color:orange;
}

.why{
    color:orange;
}
