/* VARIABLES  */
/* qualfon brand colors */
$color-accent: #2980b9;
$color-primary: #69d6f1;
$color-subtle: #777777;
$color-danger: #b53c00;
$color-success: #839e75;

/* rare accents */
$color-pop-rare: #4c139d;
$color-splash-ultra-rare: #fb3e8d;
$color-highlight-exotic: #ffa405;